/*Estilizacao da tela login (index.jsp)*/

#back{
    background-image: url("../imgs/background_login.gif");
    background-size: cover;/* para a imagem de fundo ficar do tamamnho do box*/
    background-position: center;
    background-attachment: fixed;/* para quando rolar o mouse o fundo ficar fixo*/
}
